.blogPost{
    h1{
        font-size: 1.5em;
    }

    h2{
        font-size: 1.3em;
    }
    h3,h4,h5,h6{
        font-size: 1.20em;
    }

    td{
        padding: 0.2em 0.5em 0.2em 0.5em;
    }

    table, th,td{
        border: 1px solid black;
    }

    table {
        text-align: center;
        margin: auto;
        border-collapse: collapse;
        font-size: 0.8em;
    }
    pre {
        padding: 0.5em 1em 0.5em 1em;
    }
    code{
        font-size: 0.8em;
    }

    // Highlight Js
    .hljs {
        background: white;
    }
}