@import 'normalize';
@import 'post';
@import 'highlight';

body {
    font-size: 20px;
    font-weight: 200;
    line-height: 1.46em;
    color: #333;
}

.box {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.20);
    border-radius: 5px;
}

pre {
    @extend .box;
    border: solid 1px gray;
    padding: 10px;
}

a {
    color: black;
    text-decoration: none;
}
hr {
    margin-top: 30px;
}

#blogHeader {
    margin: auto;
    padding: 30px 50px 10px;
}

#blogPostList {
    @extend .box;
    padding: 5px 0px 50px 0px;
    width: auto;
    margin: auto;
    max-width: 700px;
}

.blogPost {
    padding: 20px 5% 0 5%;
    margin: 20px 0 0 0;
}

.blogPostHeader {
    font-size: 18px;
}

.blogPostContent {
}

.blogVerMasButton {
    color: blue;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    #blogPostList {
        box-shadow: none;
        width: auto;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media screen and (max-width: 600px){
    #blogHeader {
        padding: 10px;
    }
    body {
        font-size: 16px;
        margin: 0 0 0 0;
        line-height: 1.4em;
    }
}