a {
    color: black;
    text-decoration: none;
}
hr {
    margin-top: 30px;
}

p {
    font-size: 20;
    margin: 0 0 0 0;
}
.shadow {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.20);
    border-radius: 5px;
}

#blogHeader {
    width: 80%;
    margin: auto;
    padding: 10px 50px 10px;
}

#blogPostList {
    width: 80%;
    margin: 10 auto 20 auto;
    padding: 30px 20px 50px 20px;
}

.blogPost {
    width: 90%;
    margin: 20px auto 40px;
}

.blogPostHeader {
    margin: auto 20px 20px;
}

.blogPostcontent {
    margin-left: 50px;
}

.blogVerMasButton {
    color: blue;
    cursor: pointer;
}